<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f777e8">  <td>20/05/02 19:43:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="newtoursmain.callbookingflight()[pri:0, instance:com.newtours.airlinebooking.newtoursmain@4bbfb90a]">callbookingflight</td> 
  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/05/02 19:43:26</td>   <td>24109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="newtoursmain.calllogin()[pri:0, instance:com.newtours.airlinebooking.newtoursmain@4bbfb90a]">calllogin</td> 
  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/05/02 19:43:46</td>   <td>44128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="newtoursmain.callregister()[pri:0, instance:com.newtours.airlinebooking.newtoursmain@4bbfb90a]">callregister</td> 
  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/05/02 19:43:06</td>   <td>3365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;newtoursmain.closesite()[pri:0, instance:com.newtours.airlinebooking.newtoursmain@4bbfb90a]">&lt;&lt;closesite</td> 
<td>&nbsp;</td>  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/05/02 19:43:27</td>   <td>24724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;newtoursmain.closesite()[pri:0, instance:com.newtours.airlinebooking.newtoursmain@4bbfb90a]">&lt;&lt;closesite</td> 
<td>&nbsp;</td>  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/05/02 19:43:53</td>   <td>50245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;newtoursmain.closesite()[pri:0, instance:com.newtours.airlinebooking.newtoursmain@4bbfb90a]">&lt;&lt;closesite</td> 
<td>&nbsp;</td>  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/05/02 19:44:12</td>   <td>69182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;newtoursmain.closesite()[pri:0, instance:com.newtours.airlinebooking.newtoursmain@4bbfb90a]">&lt;&lt;closesite</td> 
<td>&nbsp;</td>  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/05/02 19:42:43</td>   <td>-19143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;newtoursmain.getsite()[pri:0, instance:com.newtours.airlinebooking.newtoursmain@4bbfb90a]">&gt;&gt;getsite</td> 
<td>&nbsp;</td>  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/05/02 19:43:06</td>   <td>4146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;newtoursmain.getsite()[pri:0, instance:com.newtours.airlinebooking.newtoursmain@4bbfb90a]">&gt;&gt;getsite</td> 
<td>&nbsp;</td>  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/05/02 19:43:28</td>   <td>25473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;newtoursmain.getsite()[pri:0, instance:com.newtours.airlinebooking.newtoursmain@4bbfb90a]">&gt;&gt;getsite</td> 
<td>&nbsp;</td>  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/05/02 19:43:53</td>   <td>50986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;newtoursmain.getsite()[pri:0, instance:com.newtours.airlinebooking.newtoursmain@4bbfb90a]">&gt;&gt;getsite</td> 
<td>&nbsp;</td>  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/05/02 19:44:11</td>   <td>69107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="newtoursmain.signoff()[pri:0, instance:com.newtours.airlinebooking.newtoursmain@4bbfb90a]">signoff</td> 
  <td>main@951880373</td>   <td></td> </tr>
</table>
